{
  "$schema": "https://json.schemastore.org/prettierrc",
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 79
      }
    }
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "^types$",
    "^@/(.*)$",
    "^@/tests/(.*)$",
    "",
    "^[./]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
